SERVER_PORT=8080

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=db
POSTGRES_USER=username
POSTGRES_PASSWORD=password

# Must be a Base64-encoded key with at least 32 bytes (256 bits) when decoded.
JWT_SECRET=your-jwt-secret-here
JWT_EXPIRATION=86400000

JPA_SHOW_SQL=false
